section{
    display: flex;
    align-items: center;
    max-width: 800px;
    height: auto;
    min-height: 600px;
    margin: auto;
}


.confirmSection {
    width: 100%;
    border: none;
}


.myForm{
    width: 100%;
    border-radius: 0;
    padding: 30px;
    background-color: inherit;
    min-height: 400px;
}

.progress-subtitle{
    margin-top: 100px;
}

input::placeholder{
    color: #ccc;
}