section{
    display: flex;
    align-items: center;

}


.confirmSection {
    width: 100%;
    border: none;
}


.myForm{
    width: 100%;
    border-radius: 0;
    padding: 30px;
    background-color: inherit;



}

