<footer class="footer">
    <div class="my-footer-content container-fluid">
        <ul class="my-footer-links">
            <li class="my-footer-link">
                <a routerLink="/">
                    Home
                </a>
            </li>
            <li class="my-footer-link">
                <a href="/location">
                    Location
                </a>
            </li>
            <li class="my-footer-link">
                <a href="/galleria">
                    Galleria
                </a>
            </li>
            <li class="my-footer-link">
                <a href="/partecipa">
                    Partecipa
                </a>
            </li>
        </ul>
        <div class="my-footer-contacts">
            <ul>
                <li>
                    <a href="mailto:hoza.cristian01@gmail.com">
                        hoza.cristian01@gmail.com
                    </a>
                </li>
                <li>
                    <a href="mailto:alidonnoli@gmail.com">
                        alidonnoli@gmail.com
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="tel:+41795853359">
                        +41 79 585 33 59
                    </a>
                </li>
                <li>
                    <a href="tel:+41764842204">
                        +41 76 484 22 04
                    </a>
                </li>
            </ul>
        </div>
        <div class="my-footer-dev-signature">
            <span>Website developed with ❤️ by <a href="https://www.linkedin.com/in/cristian-george-hoza-b8164b171/" target="_blank">Cristian Hoza</a> </span>
        </div>
    </div>
</footer>