<section>
    <div class="countdown">
        <div class="countdown-item">
            <div class="detail">
                Days
            </div>
            <div class="value">
                {{dateDifference?.days}}
            </div>
        </div>
        <div class="countdown-item">
            <div class="detail">
                Hours
            </div>
            <div class="value">
                {{dateDifference?.hours}}
            </div>
        </div>
        <div class="countdown-item">
            <div class="detail">
                Minutes
            </div>
            <div class="value">
                {{dateDifference?.minutes}}
            </div>
        </div>
        <div class="countdown-item">
            <div class="detail">
                Seconds
            </div>
            <div class="value">
                {{dateDifference?.seconds}}
            </div>
        </div>
    </div>
</section>