<section>
    <hr>
    <h3>E adesso mancano...</h3>
    <br/>
    <div class="countdown">
        <div class="countdown-item">
            <div class="detail">
                Giorni
            </div>
            <div class="value">
                {{dateDifference?.days}}
            </div>
        </div>
        <div class="countdown-item">
            <div class="detail">
                Ore
            </div>
            <div class="value">
                {{dateDifference?.hours}}
            </div>
        </div>
        <div class="countdown-item">
            <div class="detail">
                Minuti
            </div>
            <div class="value">
                {{dateDifference?.minutes}}
            </div>
        </div>
        <div class="countdown-item">
            <div class="detail">
                Secondi
            </div>
            <div class="value">
                {{dateDifference?.seconds}}
            </div>
        </div>
    </div>
    <br>
    <h3>Al nostro Matrimonio 🎉</h3>
    <hr>
</section>