<main>
    <div class="myPicture">
        <div class="blue-layer"></div>
        <div class="imgText">
            <div class="imgTitle">
                <span>Galleria</span>
            </div>
        </div>
        <img src="assets/galleria.jpeg" class="img" alt="Cristian e Alizée - Galleria" />
        <img src="assets/galleria-mobile.jpeg" alt="Cristian e Alizée - Mobile" class="img-mobile" />
    </div>
    <div class="loading" [hidden]="showImages" >
        <div class="lds-heart" ><div></div> </div>
        <span>Sto Caricando...</span>
    </div>
    <div class="images">
        <img [ngStyle]="{display: showImages ? 'block' : 'none'}" *ngFor="let image of imageElements" [src]="image.src" alt="{{image.alt}}"  />
    </div>
</main>
