<nav class="navbar myNavbar navbar-expand-sm " *ngIf="false">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Cristian e Alizée</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Uno</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Due</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Tre</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Quattro</a>
            </li>
        </ul>
    </div>

</nav>