.myPicture {

    width: 100%;
    height: 800px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: end;

}

.imgText {
    position: absolute;
    /*FLEX ATTRIBUTES*/
    display: flex;
    justify-content: start;
    align-items: center;
    /*COVERS WHOLE SIZE OF PARENT*/
    height: 100%;
    width: 100%;
}

.imgTitle{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 200px;

}

.imgTitle > span:nth-child(1){
    font-weight: bold;
    font-size: 80px;
    color: black;
    font-family: 'Dancing Script';
}

.imgTitle > span:nth-child(2){

    font-weight: bold;
    font-size: 40px;
    color: white;
    font-family: 'Poppins';
    transform: uppercase;
}

.img {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    z-index: -1;

    object-position: 0 -10px;
    object-fit: cover;
}


.countdown {

    width: auto;
    height: 150px;

    display: flex;
    justify-content: space-evenly;

    user-select: none;


}

.countdown-item {

    width: 100px;
    height: 100px;
    font-weight: bold;
    color: white;
    margin: 20px;
    border-bottom: 3px solid white;
}

.countdown-item>.detail {

    height: 20%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.countdown-item>.value {

    height: 80%;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}