<main>
    <div class="myPicture">
        <div class="blue-layer"></div>
        <div class="imgText">
            <div class="imgTitle">
                <span>Location</span>
            </div>
        </div>
        <img src="assets/villa-reale.jpeg" class="img" alt="villa-reale" />
    </div>

    <div class="address-section">

        <div class="location-address">
            <p>Villa Reale Ricevimenti</p>
            <p>Via Camporeale</p>
            <p>
                71122 Foggia FG, Italia
            </p>
            <div class="location-address-links">
                <a href="www.villarealefoggia.it">www.villarealefoggia.it</a>
                <a href="info@villarealericevimenti.it">info@villarealericevimenti.it</a>
                <a href="tel:+390881652796" >+39 0881 652796</a>
            </div>
        </div>
        <div class="location-map">
            <a href="https://g.page/VillaRealeRicevimenti?share" target="_blank" class="map_link">
                <img src="assets/map.jpg" alt="location_map"  />
            </a>
        </div>
    </div>
</main>