<main>
    <div class="myPicture">
        <div class="blue-layer"></div>
        <div class="imgText">
            <div class="imgTitle">
                <span>Location</span>
            </div>
        </div>
        <img src="assets/villa-reale.jpeg" class="img" alt="villa-reale" />
    </div>

    <div class="address-section">

        <div class="location-address">
            <p>Contatti</p>
            <p>Villa Reale Ricevimenti</p>
            <p>Via Camporeale</p>
            <p>
                71122 Foggia FG, Italia
            </p>

            <div class="location-address-links">
                <a href="www.villarealefoggia.it">www.villarealefoggia.it</a>
                <a href="info@villarealericevimenti.it">info@villarealericevimenti.it</a>
                <a href="tel:+390881652796" >+39 0881 652796</a>
            </div>
        </div>
        <div class="location-map">
            <a href="https://g.page/VillaRealeRicevimenti?share" target="_blank" class="map_link">
                <img src="assets/map.jpg" alt="location_map"  />
            </a>
        </div>
    </div>



    <!-- <div class="location-text">
        <h3>Villa Reale Ricevimenti</h3>
        <div class="stars">
            <div class="star">
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#FFD600" />
                </svg>
            </div>
            <div class="star">
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#FFD600" />
                </svg>
            </div>
            <div class="star">
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#FFD600" />
                </svg>
            </div>
            <div class="star">
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#FFD600" />
                </svg>
            </div>
            <div class="star">
                <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 0L24.4903 13.8197H39.0211L27.2654 22.3607L31.7557 36.1803L20 27.6393L8.2443 36.1803L12.7346 22.3607L0.97887 13.8197H15.5097L20 0Z"
                        fill="#FFD600" />
                </svg>
            </div>
        </div>
        <small class="muted">4.9 / 5 - (149 Recensioni)</small>
        <span>Via Camporeale km 1,1 – 71122 Foggia</span>
        <div class="contact">
            <a class="contact-item" 
                href="https://www.villarealefoggia.it/"
                target="_blank"
                >Sito Web</a>
            <a class="contact-item"
                href="https://www.matrimonio.com/sala-ricevimenti/villa-reale-ricevimenti--e106428"
                target="_blank"
                >Matrimonio.com</a>
        </div>
    </div> -->
</main>