
/*

#b8d1e0
#6c2ed0 -> Viola
#734db0 -> Viola 2
#505050 -> Neutrale
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
}
.w-input{
    background-color: transparent;
    border-radius: 0px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid #734db0;
    box-shadow: none;
    outline: none;
    outline-width: 0;
}

.w-input-invalid {
    border-bottom:2px solid red
}

/*Wedding Colour - Background*/
.wc-bg{
    background-color:#734db0;
}

.wc-bg-neutral{
    background-color:#505050;
}

/*Wedding Colour - Text*/
.wc-text{
    color: #734db0;
}

.wc-border-1{
    border: 1px solid #734db0;
}

.wc-border-neutral-1{
    border: 1px solid #505050;
}

.wc-border-2{
    border: 2px solid #734db0;
    animation: 2s;
}

.wc-border-neutral-2{
    border: 2px solid #505050;
}

/*Wedding Colour - Neutral*/
.wc-neutral{
    color: #505050;
}

form{
    font-family: Poppins;
}
