<main>


    <div class="myPicture">
        <div class="blue-layer"></div>
        <div class="imgText">
            <div class="imgTitle">
                <span>Partecipa</span>
            </div>
        </div>
        <img src="assets/partecipa.jpeg" class="img" alt="" />
        <img src="assets/partecipa-mobile.jpeg" alt="Cristian e Alizée - Mobile" class="img-mobile" />

    </div>

<!-- 
    <div class="asd">
        <p class="mx-4 font-italic h4 text-center wc-text">
            Vuoi passare il giorno più bello della nostra vita insieme a noi?
        </p>
        <p class="mx-4 h6 text-center wc-neutral">
            Notifica la tua partecipazione registrandoti con il form qui sotto!
        </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6" style="border-right: 1px solid #5881b3">
                <app-registration-form></app-registration-form>
            </div>
            <div class="col-xl-6"  style="border: 1px solid #5881b3">
                <app-song-form></app-song-form>
            </div>
        </div>
    </div> -->
</main>