<section>
    <h4 class="wc-text h5 my-4">Consigliaci una canzone per la festa 🎉🎵</h4>
    <form class="form" [ngStyle]="{display:succeded ? 'none' : 'block','position:relative':true}"
        (submit)="submitForm($event, form)" #form="ngForm">
        <div class="form-group py-2">
            <label for="">Nome Canzone</label>
            <input type="text" name="song-name" id="song-name" class="w-input form-control"
                [ngClass]="{'w-input-invalid': songName.invalid && songName.touched ? true : false}"
                [(ngModel)]="song.songName" required minlength="3" #songName="ngModel" />
        </div>
        <div class="form-group py-2">
            <label for="">Artista</label>
            <input type="text" name="artist" id="artist" class="w-input form-control"
                [ngClass]="{'w-input-invalid': artist.invalid && artist.touched ? true : false}"
                [(ngModel)]="song.artist" required minlength="3" #artist="ngModel" />
        </div>
        <div style="width: 100%; max-width: 1000px;margin: auto;display: flex;justify-content: end;">
            <input type="submit" value="Invia" class="btn wc-bg text-white  my-3"
                 [disabled]="form.invalid" />
        </div>

    </form>
    <div class="alert alert-success" [ngStyle]="{display: succeded ? 'block' : 'none'}">
        Grazie!
    </div>
</section>